<head>
    <link rel="stylesheet" href="./sample1.css"/>
    <link rel="stylesheet" href="./sample2.css"/>
    <link rel="stylesheet" href="./sample3.css"/>
    <link rel="stylesheet" href="./sample4.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"/>
</head>
<body>
    CONTENT
</body>